body {
	background-color:#0066a2;

}

h1 {
	font-family: 'Sansita One', cursive;
	font-size: 72px;
	color: #88C53F;
	text-align: center;
}

input {
	font-family: 'Sansita One', cursive;
	font-size: 54px;
	text-align: center;

}

.main-div {
	text-align: center;
}

.word-value {
	margin-top: 250px;
	vertical-align: bottom;
	font-family: 'Sansita One', cursive;
	font-size: 150px;
	text-align: center;

}

ul {
    list-style-type: none;
}

.dollarWords {
    font-family: 'Sansita One', cursive;
	font-size: 30px;
	text-align: center;
    color: #88C53F;
}